{%- style -%}
  .bg-color {
    background-color: {{ section.settings.bg_color }};
  }
{%- endstyle -%}

<h3 class="bg-color">{{ section.settings.heading_test }}</h3>

{% schema %}
  {
    "name": "Test Section",
    "tag": "section",
    "class": "",
    "settings": [
      {
        "type": "text",
        "id": "heading_test",
        "label": "Heading Test"
      },
      {
      "type" : "color",
      "id" : "bg_color",
      "label" : "Background Color",
      "default": "#e9e9e9"
      }
      
    ],
    "presets": [
      {
        "name": "Test Section",
        "settings": {
        }
      }
    ]
  }
{% endschema %}